<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- JQuery library via a Content Delivery Network (CDN) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" href="/static/stylesheets/style_all.css">
        <!-- Page specific CSS -->
        <link rel="stylesheet" href="/static/stylesheets/style_about.css">
        <!-- Favicon -->
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
        <!-- Make the page render in a mobile friendly way -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN for the Slider -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <title>About</title>
    </head>

    <body>
        <div class="div-wrapper">

            <div class="div-header">
                <div class="div-mainheader">
                    <div class="div-imageframe">
                        <a href="/" class='a-label'>BLACK BOX</a>
                        <div class="div-img">
                            <div class='animatecover'></div>
                            <img class="img-blackbox" src="/static/images/black-box-header-img2.png" alt="Image Unavailable">
                        </div>
                    </div>
                </div>
                <div class="div-navbar">
                    <ul class="ul-navbar">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>





            <div class="div-body">

                <div class="div-swiper1">
                    <!-- Slide 1 -->
                    <div class="div-body-container1-1">
                        <div class="div-container-text1-1">
                            <h1>Summary</h1>
                            <p>
                                I graduated from Stanly Early College High School with both a highschool diploma and associates
                                degree in Simulation and Game Development. I then transfered to the University of North Carolina 
                                at Charlotte where I graduated with a BS in Computer Science.
                                <br>
                                I have a great interest and passion in and for the scientific method and using technology to augment
                                our capabilities in science. I have a high personal drive and am very self motivated to always learn
                                and discover new things.
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileTop.png" alt="">
                        <div class="div-container-img1-1">
                            <img src="/static/images/testR.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-swiper2">
                    <div class="div-body-container2-1">
                        <div class="div-container-text2-1">
                            <h1>Work</h1>
                            <p>
                                My first work experience in the field was as a freelance web development where I worked with clients
                                to determine their requirements for a website or web application and enact those designs into a streamlined,
                                reactive and user friendly product.
                                <br>
                                <br>
                                After gaining this experience, I entered the industry as a Software Engineer at Revature LLC where I
                                currently work as a Java Full Stack Developer.
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileMid.png" alt="">
                        <div class="div-container-img2-1">
                            <img src="/static/images/testL.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-swiper3">
                    <div class="div-body-container3-1">
                        <div class="div-container-text3-1">
                            <h1>History</h1>
                            <p>
                                I have a background in game and application development where I have created real world
                                websites, one for a business and for my portfolio. I also have a firm grasp of the scientific method
                                and various methods of software engineering. I am also fluid in technical communication and
                                coorespondance with clients and coworkers.
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileBot.png" alt="">
                        <div class="div-container-img1-1">
                            <img src="/static/images/testR.png" alt="">
                        </div>
                    </div>
                </div>

            </div>





            <div class="div-footer">
                <div class="div-footer-sub1">

                </div>

                <div class="div-footer-sub2">
                    <ul class="ul-sitemap-portfolio">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>Websites</li>
                        <li>Design</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-projects">
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>Future</li>
                        <li>Current</li>
                        <li>Past</li>
                    </ul>
                    <ul class="ul-sitemap-education">
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>Bachelors</li>
                        <li>Associates</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-about">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>Summary</li>
                        <li>Work</li>
                        <li>History</li>
                    </ul>

                    <ul class="ul-linkslist">
                        <li>
                            <a href="https://www.twitter.com/alpha7delta" target="_blank">
                                <img src="/static/images/twitter-45x45_grey.png" alt="Image Unavailable">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC7fgI9oKhcayHr56T5QS4Vg" target="_blank">
                                <img src="/static/images/youtube-45x45_grey.jpg" alt="Image Unavailable">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        
        <!-- Page specific JQuery -->
        <script type="text/javascript" src="/static/javascripts/jquery_about.js"></script>
        <!-- JQuery for all pages -->
        <script type="text/javascript" src="/static/javascripts/jquery_all.js"></script>

    </body>
</html>
