<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Page specific stylesheet -->
    <link rel="stylesheet" href="/static/stylesheets/style_donate.css">
    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <title>Document</title>
</head>
<body>
      <!-- Page specific JQuery -->
      <script type="text/javascript" src="/static/javascripts/jquery_donate.js"></script>
</body>
</html>