<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- JQuery library via a Content Delivery Network (CDN) -->
        <!-- JQuery library via a Content Delivery Network (CDN) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" href="/static/stylesheets/style_all.css">
        <!-- Page specific CSS -->
        <link rel="stylesheet" href="/static/stylesheets/style_index.css">
        <!-- Favicon -->
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
        <!-- Make the page render in a mobile friendly way -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN for the Slider -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <title>Home</title>
    </head>

    <body>
        <div class="div-wrapper">

            <div class="div-header">
                <div class="div-mainheader">
                    <div class="div-imageframe">
                        <a href="/home" class='a-label'>BLACK BOX</a>
                        <div class="div-img">
                            <div class='animatecover'></div>
                            <img class="img-blackbox" src="/static/images/black-box-header-img2.png" alt="Image Unavailable">
                        </div>
                    </div>
                </div>
                <div class="div-navbar">
                    <ul class="ul-navbar">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <!-- <li>
                            <a href="/donate">Donate</a>
                        </li> -->
                    </ul>
                </div>
            </div>

            

            

            <div class="div-body">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="div-body-container1-1">
                                <div class="div-container-text1-1">
                                    <h1>Family Sports and Fitness</h1>
                                    <p>
                                        This is the first website that I launched and was made for
                                        Family Sports and Fitness, a fitness facility where I
                                        worked for over seven years before and during my undergraduate degree
                                        at UNC Charlotte. The site was made custom from top to bottom as both 
                                        a business need for FSF and for porfoilio building for myself.
                                        <br>
                                        <br>
                                        Click to visit: <a id="link" target="_blank" href="https://www.familysportsandfitness.org">
                                            Family Sports and Fitness Site
                                        </a>
                                    </p>
                                </div>
                                <img class="img-body-mob" src="/static/images/test_mobileTop.png" alt="">
                                <div class="div-container-img1-1">
                                    <img src="/static/images/testR.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <div class="div-body-container1-2">
                                <div class="div-container-text1-2">
                                    <h1>Black Box Mod</h1>
                                    <p>
                                        This is the second website that I launched and was made to act as an online
                                        porfolio and hub that links to and gives a summary of my other projects. It was developed
                                        with NodeJS with an ExpressJS backend serving EJS pages with functionality implemented in the form of
                                        JQuery. This site is mostly meant, in addition to the above, to display a solid understanding
                                        of the fundamental methods of web development.
                                    </p>
                                </div>
                                <img class="img-body-mob" src="/static/images/test_mobileTop.png" alt="">
                                <div class="div-container-img1-2">
                                    <img src="/static/images/testR.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide">
                            <div class="div-body-container1-2">
                                <div class="div-container-text1-2">
                                    <h1>WNC Beer Tours</h1>
                                    <p>
                                        This is one of my current projects as a Freelance web developer wherein I am
                                        creating a web application for a company in Asheville, NC that needs an online
                                        presence to provide its services for brewery tours. The application displays information
                                        about the business, lists tours, processes payments and sends information about the client
                                        to the business for reservations.
                                    </p>
                                </div>
                                <img class="img-body-mob" src="/static/images/test_mobileTop.png" alt="">
                                <div class="div-container-img1-2">
                                    <img src="/static/images/testR.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                
                <div class="div-body-container2-1">
                    <div class="div-container-text2-1">
                        <h1>Raptor Main Engine</h1>
                        <p>
                            A 3D model that I constructed using Autodesk Maya, a software tool I
                            used during my associates
                            degree at Stanly Community College in Simulation and Game Development of SpaceX's Raptor Engine.
                            This was a hobby project that
                            I did soley out of an interest in SpaceX and Aerospace in general. The current
                            version is a high poly
                            count draft. There is a render video on my YouTube channel, see link in footer.
                        </p>
                    </div>
                    <img class="img-body-mob" src="/static/images/test_mobileMid.png" alt="">
                    <div class="div-container-img2-1">
                        <img src="/static/images/testL.png" alt="">
                    </div>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class='swiper-slide'>
                            <div class="div-body-container3-1">
                                <div class="div-container-text3-1">
                                    <h1>Game Design</h1>
                                    <p>
                                        My experience in game development comes from my associates degree in Simulation
                                        and Game Development where
                                        I worked in teams to develop different aspects of games. From 3D modeling,
                                        texturing, animation and
                                        level design, I have completed different games as in-class projects.
                                    </p>
                                </div>
                                <img class="img-body-mob" src="/static/images/test_mobileBot.png" alt="">
                                <div class="div-container-img3-1">
                                    <img src="/static/images/testR.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class='swiper-slide'>
                            <div class="div-body-container3-2">
                                <div class="div-container-text3-2">
                                    <h1>Audio/Video Editing</h1>
                                    <p>
                                        During my associates degree I became familiar with many different software tools
                                        that are used
                                        in audio and video editing. Premiere Studio and Audacity are just two programs
                                        that I used mainly
                                        to create custom game audio and to also edit videos. I still have a good grasp
                                        of the principles of
                                        audio and video editing.
                                    </p>
                                </div>
                                <img class="img-body-mob" src="/static/images/test_mobileBot.png" alt="">
                                <div class="div-container-img3-2">
                                    <img src="/static/images/testR.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>





            <div class="div-footer">
                <div class="div-footer-sub1">

                </div>

                <div class="div-footer-sub2">
                    <ul class="ul-sitemap-portfolio">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>Websites</li>
                        <li>Design</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-projects">
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>Future</li>
                        <li>Current</li>
                        <li>Past</li>
                    </ul>
                    <ul class="ul-sitemap-education">
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>Bachelors</li>
                        <li>Associates</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-about">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>Summary</li>
                        <li>Work</li>
                        <li>History</li>
                    </ul>

                    <ul class="ul-linkslist">
                        <li>
                            <a href="https://www.twitter.com/blackBoxMod" target="_blank">
                                <img src="/static/images/twitter-45x45_grey.png" alt="Image Unavailable">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC7fgI9oKhcayHr56T5QS4Vg" target="_blank">
                                <img src="/static/images/youtube-45x45_grey.jpg" alt="Image Unavailable">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Page specific JQuery -->
        <script type="text/javascript" src="/static/javascripts/jquery_index.js"></script>
        <!-- JQuery for all pages -->
        <script type="text/javascript" src="/static/javascripts/jquery_all.js"></script>
        <!-- Script for the Slider -->
        <script type="text/javascript" src="/static/javascripts/features/swiper.js"></script>

    </body>

</html>