<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Site wide CSS -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style_all.css">

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head>
<body>



    <div class='div-one'>
        <label>Home</label>
    </div>
    <div class='div-one'>
        <label>
            <a href="/tours/">Tours</a>
        </label>
    </div>



    <script type='text/javascript' src='/static/javascripts/script_index.js'></script>
</body>
</html>