<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- JQuery library via a Content Delivery Network (CDN) -->
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/color/jquery.color-2.2.0.js" integrity="sha256-gvMJWDHjgDrVSiN6eBI9h7dRfQmsTTsGU/eTT8vpzNg=" crossorigin="anonymous"></script>
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" href="/static/stylesheets/style_all.css">
        <!-- Page specific CSS -->
        <link rel="stylesheet" href="/static/stylesheets/style_projects.css">
        <!-- Favicon -->
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
        <!-- Make the page render in a mobile friendly way -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN for the Slider -->
        <!-- Include Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

        <!-- Include Swiper's JavaScript -->
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

        <title>Projects</title>
    </head>

    <body>
        <div class="div-wrapper">

            <div class="div-header">
                <div class="div-mainheader">
                    <div class="div-imageframe">
                        <!-- <a href="/" class='a-label'>BLACK BOX</a> -->
                        <div class="div-img">
                            <div class='animatecover'></div>
                            <img class="img-blackbox" src="/static/images/black-box-header-img2.png" alt="Image Unavailable">
                        </div>
                    </div>
                </div>
                <div id="navbar-placeholder"></div> <!-- Add this placeholder element -->
                <div class="div-navbar">
                    <ul class="ul-navbar">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <!-- <li class="navbar-title-1">Future</li>
                        <li class="navbar-title-2">Current</li>
                        <li class="navbar-title-3">Past</li> -->
                    </ul>
                </div>
            </div>





            <div class="div-body">

                <div class="div-swiper1">
                    <!-- Slide 1 -->
                    <div class="div-body-container1-1">
                        <div class="div-container-text1-1">
                            <h1>Future</h1>
                            <p>
                                <b>Quantum Computing</b>
                                <br>
                                IBM Quantum Platform | Quantum Lab
                                <br>
                                <br>
                                <b>Machine Learning</b>
                                <br>
                                GCP Vertex AI | Azure AI
                                <br>
                                <br>
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileTop.png" alt="">
                        <div class="div-container-img1-1">
                            <img src="/static/images/testR2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-swiper2">
                    <div class="div-body-container2-1">
                        <div class="div-container-text2-1">
                            <h1>Current</h1>
                            <p>
                                <b>Capital One</b>
                                <br>
                                Internal Development | DevOps | Software and Systems Engineering
                                <br>
                                <br>
                                <b>Freelance</b>
                                <br>
                                Websites Development | Web Content Creation
                                <br>
                                <br>
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileMid.png" alt="">
                        <div class="div-container-img2-1">
                            <img src="/static/images/testL2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-swiper3">
                    <div class="div-body-container3-1">
                        <div class="div-container-text3-1">
                            <h1>Past</h1>
                            <p>
                                <b>Capital One</b>
                                <br>
                                Internal Development | DevOps | Software and Systems Engineering
                                <br>
                                <br>
                                <b>Accenture</b>
                                <br>
                                Internal Development | Software Engineering | GenAI
                                <br>
                                <br>
                                <b>CVS Pharmacy</b> 
                                <br>
                                Migration to Google Cloud Platform | Data Engineering
                                <br>
                                <br>
                                <b>Revature</b>
                                <br>
                                Internal Development | Software Engineering | Java Spring
                                <br>
                                <br>
                                <b>Freelance</b>
                                <br>
                                Websites Development | Web Content Creation
                                <br>
                                <br>
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileBot.png" alt="">
                        <div class="div-container-img1-2">
                            <img src="/static/images/testR2.png" alt="">
                        </div>
                    </div>
                </div>

            </div>





            <div class="div-footer">
                <div class="div-footer-sub1">

                </div>

                <div class="div-footer-sub2">
                    <ul class="ul-sitemap-portfolio">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>Websites</li>
                        <li>Design</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-projects">
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>Future</li>
                        <li>Current</li>
                        <li>Past</li>
                    </ul>
                    <ul class="ul-sitemap-education">
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>Bachelors</li>
                        <li>Associates</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-about">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>Summary</li>
                        <li>Career</li>
                        <li>History</li>
                    </ul>

                    <ul class="ul-linkslist">
                        <li>
                            <a href="https://www.linkedin.com/in/andrew-davis-04208196" target="_blank">
                                <img src="/static/images/linkedin-45x45_grey.png" alt="Image Unavailable">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/alpha7delta" target="_blank">
                                <img src="/static/images/twitter-45x45_grey.png" alt="Image Unavailable">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC7fgI9oKhcayHr56T5QS4Vg" target="_blank">
                                <img src="/static/images/youtube-45x45_grey.jpg" alt="Image Unavailable">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Page specific JQuery -->
        <script type="text/javascript" src="/static/javascripts/jquery_projects.js"></script>
        <!-- JQuery for all pages -->
        <script type="text/javascript" src="/static/javascripts/jquery_all.js"></script>

    </body>
</html>
