<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- JQuery library via a Content Delivery Network (CDN) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" href="/static/stylesheets/style_all.css">
        <!-- Page specific CSS -->
        <link rel="stylesheet" href="/static/stylesheets/style_projects.css">
        <!-- Favicon -->
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
        <!-- Make the page render in a mobile friendly way -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN for the Slider -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <title>Projects</title>
    </head>

    <body>
        <div class="div-wrapper">

            <div class="div-header">
                <div class="div-mainheader">
                    <div class="div-imageframe">
                        <a href="/" class='a-label'>BLACK BOX</a>
                        <div class="div-img">
                            <div class='animatecover'></div>
                            <img class="img-blackbox" src="/static/images/black-box-header-img2.png" alt="Image Unavailable">
                        </div>
                    </div>
                </div>
                <div class="div-navbar">
                    <ul class="ul-navbar">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>





            <div class="div-body">

                <div class="div-swiper1">
                    <!-- Slide 1 -->
                    <div class="div-body-container1-1">
                        <div class="div-container-text1-1">
                            <h1>Future</h1>
                            <p>
                                I am currently in the planning stage for an application that is being developed
                                with Electron designed to parse information from data which can be formatted
                                to a specified type for use where the data was collected by webscraping.
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileTop.png" alt="">
                        <div class="div-container-img1-1">
                            <img src="/static/images/testR.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-swiper2">
                    <div class="div-body-container2-1">
                        <div class="div-container-text2-1">
                            <h1>Current</h1>
                            <p>
                                I am currently working on utilizing Puppeteer within Node.js to collect data from various websites
                                via the webscraping functionality that Puppeteer provides. I am storing various kinds of data in 
                                different databases that I manage and then analyze that data using data science techniques and 
                                methodologies.
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileMid.png" alt="">
                        <div class="div-container-img2-1">
                            <img src="/static/images/testL.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-swiper3">
                    <div class="div-body-container3-1">
                        <div class="div-container-text3-1">
                            <h1>Past</h1>
                            <p>
                                Final Project/Web Application using MERN (MongoDB, Express, React, Node.js) for my bacholers in Computer Science.
                                <br>
                                <br>
                                Websites for both business and personal use.
                                <br>
                                <br>
                                Image editing for the websites I created, and much more.
                            </p>
                        </div>
                        <img class="img-body-mob" src="/static/images/test_mobileBot.png" alt="">
                        <div class="div-container-img1-2">
                            <img src="/static/images/testR.png" alt="">
                        </div>
                    </div>
                </div>

            </div>





            <div class="div-footer">
                <div class="div-footer-sub1">

                </div>

                <div class="div-footer-sub2">
                    <ul class="ul-sitemap-portfolio">
                        <li>
                            <a href="/">Portfolio</a>
                        </li>
                        <li>Websites</li>
                        <li>Design</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-projects">
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>Future</li>
                        <li>Current</li>
                        <li>Past</li>
                    </ul>
                    <ul class="ul-sitemap-education">
                        <li>
                            <a href="/education">Education</a>
                        </li>
                        <li>Bachelors</li>
                        <li>Associates</li>
                        <li>Other</li>
                    </ul>
                    <ul class="ul-sitemap-about">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>Summary</li>
                        <li>Work</li>
                        <li>History</li>
                    </ul>

                    <ul class="ul-linkslist">
                        <li>
                            <a href="https://www.twitter.com/alpha7delta" target="_blank">
                                <img src="/static/images/twitter-45x45_grey.png" alt="Image Unavailable">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC7fgI9oKhcayHr56T5QS4Vg" target="_blank">
                                <img src="/static/images/youtube-45x45_grey.jpg" alt="Image Unavailable">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Page specific JQuery -->
        <script type="text/javascript" src="/static/javascripts/jquery_projects.js"></script>
        <!-- JQuery for all pages -->
        <script type="text/javascript" src="/static/javascripts/jquery_all.js"></script>

    </body>
</html>
