.div-one {
    background-color: #0070e8;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.div-one label{
    color: #ffffff;
    
    grid-row: 1;
    grid-column: 2;

    justify-self: center;
}