body {
    margin: 0px;
    padding: 0px;
}
/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Header */
    /* Basic CSS for the navbar */
    #div-buffer {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    #div-nav {
        background-color: #996515;
        border-left: none;
        border-right: none;
    
        padding-top: 2px;
        padding-bottom: 2px;

        z-index: 1;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

        grid-row: 1;
        grid-column: 1;
    }
    #div-background {
        grid-row: 1;
        grid-column: 1;
    }
    .ul-nav {
        background-color: #996515;
        border-radius: 0px;
        width: 400px;
    
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    
        overflow: hidden;

        list-style-type: none;

        grid-row: 1;
        grid-column: 1;
    }
    .ul-nav li {
        margin: 1px;
        float: left;
        cursor: default;
    }
    .ul-nav li a {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #c0c0c0;
        text-decoration: none;

        border-top: 5px solid #996515;
        border-bottom: 8px solid #996515;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 11px;
        padding-bottom: 8px;

        display: inline;
    
        transition: filter 500ms; /* Filter */
    }
    .ul-nav li a:hover {
        filter: opacity(0.5); /* Filter */
    }




    
    /* Body */





    /* Footer */
    .div-footer {
        background-color: #996515;
    }
    .div-footer-upper {
        background-color: #996515;

        display: grid;
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: 1fr 1fr;
    }
    .div-footer-upper-text {
        grid-area: 1 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .div-footer-upper-text-first {
        grid-row: 1;
        grid-column: 1;

        justify-self: center;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-last {
        grid-row: 2;
        grid-column: 1;

        justify-self: center;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-first label {
        color: #151515;
        font-size: 30px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-text-last label {
        color: #151515;
        font-size: 30px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-socialmedia {
        background-color: #555;
        grid-area: 2 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .img-footer-upper-socialmedia {
        width: 100%;

        grid-row: 1;
        grid-column: 1;

        justify-self: center;
        align-self: center;
    }
    .img-footerBG {
        grid-row: 1;
        grid-column: 2;

        justify-self: end;
        align-self: center;

        opacity: 0.5;
    }
    .div-footer-lower {
        background-color: #333;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .copyright {
        font-size: 12px;
        color: #fff;

        margin-left: 10px;

        align-self: center;

        grid-row: 1;
        grid-column: 1;
    }
}
/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Header */
    /* Basic CSS for the navbar */
    #div-buffer {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    #div-nav {
        background-color: #996515;
        border-left: none;
        border-right: none;
    
        padding-top: 2px;
        padding-bottom: 2px;

        z-index: 1;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

        grid-row: 1;
        grid-column: 1;
    }
    #div-background {
        grid-row: 1;
        grid-column: 1;
    }
    .ul-nav {
        background-color: #996515;
        border-radius: 0px;
        width: 400px;
    
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    
        overflow: hidden;

        list-style-type: none;

        grid-row: 1;
        grid-column: 1;
    }
    .ul-nav li {
        margin: 1px;
        float: left;
        cursor: default;
    }
    .ul-nav li a {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #c0c0c0;
        text-decoration: none;

        border-top: 5px solid #996515;
        border-bottom: 8px solid #996515;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 11px;
        padding-bottom: 8px;

        display: inline;
    
        transition: filter 500ms; /* Filter */
    }
    .ul-nav li a:hover {
        filter: opacity(0.5); /* Filter */
    }
    



    
    /* Body */





    /* Footer */
    .div-footer {
        background-color: #996515;
    }
    .div-footer-upper {
        background-color: #996515;

        display: grid;
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: 1fr 1fr;
    }
    .div-footer-upper-text {
        grid-area: 1 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .div-footer-upper-text-first {
        grid-row: 1;
        grid-column: 1;

        margin-left: 5%;

        justify-self: start;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-last {
        grid-row: 2;
        grid-column: 1;

        margin-right: 5%;

        justify-self: end;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-first label {
        color: #151515;
        font-size: 40px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-text-last label {
        color: #151515;
        font-size: 40px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-socialmedia {
        background-color: #555;
        grid-area: 2 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .img-footer-upper-socialmedia {
        width: 60%;

        grid-row: 1;
        grid-column: 1;

        justify-self: center;
        align-self: center;
    }
    .img-footerBG {
        grid-row: 1;
        grid-column: 2;

        justify-self: end;
        align-self: center;

        opacity: 0.5;
    }
    .div-footer-lower {
        background-color: #333;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .copyright {
        font-size: 12px;
        color: #fff;

        margin-left: 10px;

        align-self: center;

        grid-row: 1;
        grid-column: 1;
    }
}
/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Header */





    /* Body */





    /* Footer */
    .div-footer {
        background-color: #996515;
    }
    .div-footer-upper {
        background-color: #996515;
    }
    .div-footer-upper-text {
        grid-area: 1 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .div-footer-upper-text-first {
        grid-row: 1;
        grid-column: 1;

        margin-left: 5%;

        justify-self: start;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-last {
        grid-row: 2;
        grid-column: 1;

        margin-right: 5%;

        justify-self: end;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-first label {
        color: #151515;
        font-size: 50px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-text-last label {
        color: #151515;
        font-size: 50px;
        font-family: "Fredericka the Great";
    }
    .div-footer-lower {
        background-color: #333;
    }
}
/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Header */





    /* Body */





    /* Footer */
    .div-footer {
        background-color: #996515;
    }
    .div-footer-upper {
        background-color: #996515;

        display: grid;
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: 1fr 1fr;
    }
    .div-footer-upper-text {
        grid-area: 1 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .div-footer-upper-text-first {
        grid-row: 1;
        grid-column: 1;

        margin-left: 5%;

        justify-self: start;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-last {
        grid-row: 2;
        grid-column: 1;

        margin-right: 5%;

        justify-self: end;
        align-self: center;
        text-align: center;
    }
    .div-footer-upper-text-first label {
        color: #151515;
        font-size: 60px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-text-last label {
        color: #151515;
        font-size: 60px;
        font-family: "Fredericka the Great";
    }
    .div-footer-upper-socialmedia {
        background-color: #555;
        grid-area: 2 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .img-footer-upper-socialmedia {
        width: 40%;

        grid-row: 1;
        grid-column: 1;

        justify-self: center;
        align-self: center;
    }
    .img-footerBG {
        grid-row: 1;
        grid-column: 2;

        justify-self: end;
        align-self: center;

        opacity: 0.5;
    }
    .div-footer-lower {
        background-color: #333;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .copyright {
        font-size: 12px;
        color: #fff;

        margin-left: 10px;

        align-self: center;

        grid-row: 1;
        grid-column: 1;
    }
}
/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Header */





    /* Body */





    /* Footer */
    .div-footer {
        background-color: #996515;
    }
    .div-footer-upper {
        background-color: #996515;

        display: grid;
        grid-template-rows: 1fr 0.1fr;
        grid-template-columns: 1fr 1fr;
    }
    .div-footer-upper-socialmedia {
        background-color: #555;
        grid-area: 2 / 1 / span 1 / span 2;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .img-footer-upper-socialmedia {
        width: 40%;

        grid-row: 1;
        grid-column: 1;

        justify-self: center;
        align-self: center;
    }
    .img-footerBG {
        grid-row: 1;
        grid-column: 2;

        justify-self: end;
        align-self: center;

        opacity: 0.5;
    }
    .div-footer-lower {
        background-color: #333;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .copyright {
        font-size: 12px;
        color: #fff;

        margin-left: 10px;

        align-self: center;

        grid-row: 1;
        grid-column: 1;
    }
}